:root {
    /* cores */
    --cor-primaria: #002E12;
    --cor-secundaria: #E10600;
    --cor-accento: #FFB600;
    --cor-detalhe: #008C14;
    --cor-preto: #121212;
    --cor-contraste: #EDEBD9;
    --cor-branco: #F3F3F3;
}

/* tipografia */
.titulo h1 {
    font-family: "Cinzel", serif;
    font-size: clamp(1.75rem, 2.80vw, 2rem);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 2rem 0;
}

.subtitulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    padding: 1.5rem 0;
}

.texto,
p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 1.30vw, 1.5rem);
    text-align: justify;
    color: black;
}

/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgb(7, 125, 9) #ffffff;
}

body {
    background-color: var(--cor-branco);
    color: black;
    min-width: 100vh;
    scroll-behavior: smooth;
}

/* reset */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10%;
}

a {
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: white;
}

figure img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

i {
    color: var(--cor-branco);
}

/* estilo da pagina */
.flexivel {
    display: flex;
}

.flexivel_linha-centro,
.flexivel_coluna-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexivel_coluna {
    display: flex;
    flex-direction: column;
}

.flexivel_coluna-centro {
    flex-direction: column;
}

.quebra-flex {
    flex-wrap: wrap;
}

.itemflex-50 {
    flex: 0 0 50%;
}

.espaco_top {
    padding: 3rem 0;
}

.espaco_lado {
    padding: 0 3rem;
}
/* botão */
.btn {
    padding: 2% 4%;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    transition: .3s ease;
}
.botao-destaque {
    background-color: var(--cor-detalhe);
    color: white;
}

.botao-destaque:hover {
    background-color: var(--cor-accento);
    border: 3px solid var(--cor-detalhe);
    color: black;
}

.botao-secundario {
    background-color: var(--cor-contraste);
    color: black;
    border: 3px solid var(--cor-detalhe);
}

.botao-secundario:hover {
    background-color: var(--cor-accento);
    border: 3px solid var(--cor-detalhe);
}

.texto-centro {
    text-align: center;
    width: 100%;
}

/* animação */
.anima_zoom {
    transition: transform 0.3s ease;
}

.anima_zoom:hover {
    transform: scale(1.1);
}

.anima_diminuir {
    transition: transform 0.3s ease;
}

.anima_diminuir:hover {
    transform: scale(0.9);
}

/* cabeçalho */
header {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 2rem 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    max-width: 10%;
}

header nav ul {
    gap: 10%;
    color: var(--cor-preto);
}

header nav ul li a {
    color: var(--cor-preto);
    font-size: 1.5rem;
    transition: border-bottom 0.3s ease;
}

header nav ul li a:hover {
    color: var(--cor-detalhe);
    font-weight: bold;
    border-bottom: 3px solid var(--cor-detalhe);
}

/* rodape */
footer {
    background-color: var(--cor-primaria);
    color: white;
}

footer section {
    padding: 1rem 0rem;
}

.logo_rodape {
    width: 35%;
}

.img_patrocinadores {
    max-width: 8%;
    padding: 0 15px;
}

footer section div nav ul {
    gap: 5%;
}

footer h5 {
    background-color: black;
    color: var(--cor-branco);
    text-align: center;
    font-size: 1rem;
}