:root {
    /* cores */
    --cor-primaria: #002E12;
    --cor-secundaria: #E10600;
    --cor-accento: #FFB600;
    --cor-detalhe: #008C14;
    --cor-preto: #121212;
    --cor-contraste: #EDEBD9;
    --cor-branco: #F3F3F3;
}

/* tipografia */
.titulo h1 {
    font-family: "Cinzel", serif;
    font-size: clamp(1.75rem, 2.80vw, 2rem);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 2rem 0;
}

.subtitulo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    padding: 1.5rem 0;
}

.texto,
p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 1.30vw, 1.5rem);
    text-align: justify;
    color: black;
}

/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: rgb(7, 125, 9) #ffffff;
}

/* geral */
body {
    background-color: var(--cor-branco);
    color: black;
    min-width: 100vh;

}

/* reset */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10%;
}

a {
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: white;
    transition: font-size 0.3s ease;

}
figure img {
    max-width: 100%;
    object-fit: cover;
}

i {
    color: var(--cor-branco);
}

/* estilo da pagina */
.flexivel {
    display: flex;
}

.flexivel_linha-centro,
.flexivel_coluna-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexivel_coluna {
    display: flex;
    flex-direction: column;
}

.flexivel_coluna-centro {
    flex-direction: column;
}

.quebra-flex {
    flex-wrap: wrap;
}

.itemflex-50 {
    flex: 0 0 50%;
}

.espaco_top {
    padding: 3rem 0;
}

.espaco_lado {
    padding: 0 3rem;
}

.borda {
    border: 5px solid black;
}

.btn {
    padding: 2% 3%;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--cor-detalhe);
    color: white;
}

.btn:hover {
    background-color: var(--cor-accento);
    border: 3px solid var(--cor-detalhe);
    color: var(--cor-detalhe);
}

.texto-centro {
    text-align: center;
    width: 100%;

}

.anima_zoom {
    transition: transform 0.3s ease;
}

.anima_zoom:hover {
    transform: scale(1.1);
}

/* estilo */
/* cabeçalho */
header {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 1rem 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo {
    max-width: 10%;
}

header nav ul {
    gap: 10%;
    color: var(--cor-preto);
}

header nav ul li a {
    color: var(--cor-preto);
    font-size: 1rem;
}
header nav ul li a {
    font-size: 1.5rem;
}
/* rodape */
footer {
    background-color: var(--cor-primaria);
    color: white;
}

footer section {
    padding: 1rem 0rem;
}

.logo_rodape {
    width: 35%;
}

.img_patrocinadores {
    max-width: 8%;
    padding: 0 15px;
}

footer section div nav ul {
    gap: 5%;
}

footer h5 {
    background-color: black;
    color: var(--cor-branco);
    text-align: center;
    font-size: 1rem;
}

/* index */
main {
    height: 100%;
    padding: 0 5rem;
}

section {
    height: 100%;
}

.hero_section-index {
    background-image: url('/assets/bg-carro.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top center;


    width: 100%;
    height: 100vh;
}

.hero_section-frase {
    background-color: var(--cor-contraste);
    color: var(--cor-primaria);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;

}

.hero_section-frase h1 {
    font-size: clamp(3rem, 4vw, 2.50rem);
}

.hero_section-frase p {
    font-size: clamp(1.5rem, 2vw, 1.75rem);
    color: var(--cor-primaria);
}

/* atrações */
.atracoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    padding: 0 0 5vh 0;
}

.cartao_atracao {
    width: 48%;
    max-height: 30vh;
    justify-content: space-between;
    border-radius: 20px;
    border: 3px solid var(--cor-detalhe);
}

.cartao_imagem {
    max-width: 100%;
    height: 100%;
    border-radius: 18px 0 0 18px;
}

.cartao_conteudo {
    padding: 0 10px;
    flex: 0 0 75%;

}

.cartao_conteudo h3 {
    padding: 0;

}

.cartao_conteudo button {
    padding: 1% 3%;
    font-size: 1rem;
}

/* sobre */
.hero_section-sobre {
    background-image: url('/assets/ferrari.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 100vh;
}

.hero_section_sobre-frase {
    width: 40%;
    padding: 2rem;
    border-radius: 20px;
}

.hero_section_sobre-frase h1 {
    color: white;
    font-size: clamp(3rem, 4vw, 2.50rem);
}