/* pagina index */
header button,
.menu {
    display: none;
}

.hero_section-index {
    height: 100vh;
    background-image: url(/assets/img-fundo/ferrari.jpg);
}

.hero_section_index-frase {
    width: 40%;
    padding: 2%;
    border-radius: 20px;

    position: absolute;
    bottom: 5%;
    left: 2%;
    right: 0;
    height: 40%;
    background: rgba(225, 6, 0, 0.35);
    backdrop-filter: blur(8px);
}

.hero_section_index-frase>h1 {
    font-size: clamp(1.5vw, 2.1vw, 3vw);
    color: white;
    padding: 0 0 1rem 0;
    z-index: 1;
}

.hero_section-btn {
    gap: 3rem;
    z-index: 1;
}

.hero_section-btn a {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

/*index:  cartao de atração */
.cartao_index {
    background-color: var(--cor-contraste);
    height: 100%;
    min-height: 110vh;
    padding: 0 5%;
}

.cartao_index>h2 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    text-align: center;
    height: 20%;
}

.cartao_index>div {
    gap: 5rem;
}

.cartao_atracao-index {
    align-items: center;
    flex: 0 1 25%;
    height: 80vh;
    padding: 1% 1% 2%;
    border-radius: 20px;
    border: 3px solid var(--cor-detalhe);
}

figure.cartao_imagem {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    border-radius: 16px;
}

.cartao_conteudo {
    max-height: 100%;
    justify-content: space-around;
}

.cartao_conteudo>h3 {
    font-size: 1.5rem;
    text-align: center;
    height: 4em;
}

.cartao_conteudo>p {
    height: 3em;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}

.cartao_conteudo>button {
    margin-top: 1rem;
    font-size: 1rem;
}

/*index: visite  */
#visite {
    height: 50%;
    padding: 5% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/img-fundo/museu.jpg);
    background-attachment: fixed;
}

#visite h2,
#visite h2+p {
    font-size: clamp(1.5rem, 3vw, 2rem);
    ;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* pagina sobre */
.hero_section-sobre {
    height: 100vh;
    padding: 5% 10%;
    background-image: url(/assets/img-fundo/bg-car\ antigo.jpg);
}

.hero_section_sobre-frase {
    width: 35%;
    height: 35%;
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    bottom: 5%;
    left: 2%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.hero_section_sobre-frase h1 {
    color: var(--cor-secundaria);
}

/* sobre: texto */
.texto_sobre {
    font-size: clamp(1rem, 2vw, 1.25rem);
    ;
    padding: 0 10rem;
}

/* sobre: linha do tempo */

.linha_tempo {
    margin-bottom: 20px;
    height: 100%;
    gap: 10px;
}

.linha_tempo-evento {
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 46, 18, 0.5);
    margin-bottom: 3rem;
    padding: 2%;
    transition: 0.3s ease;
}

.linha_tempo-evento:hover {
    box-shadow: 0 6px 15px rgba(0, 46, 18, 0.7);
}


.linha_tempo-evento>div {
    width: 50%;
    margin-left: 2rem;
}

.linha_tempo-img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

/* sobre: galeria */
.galeria {
    padding: 0 10rem 5rem 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.galeria-img {
    width: 20vw;
    height: 40vh;
}

/* pagina atrações */
.hero_section-atracao {
    height: 100vh;
    padding: 5%;
    background-image: url(/assets/img-fundo/bg-car.jpg);
}

.hero_section_atracao-frase {
    width: 43%;
    height: 33%;
    border-radius: 20px;
    padding: 1%;

    position: absolute;
    bottom: 5%;
    left: 2%;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.hero_section_atracao-frase h1 {
    color: white;
}

/*atrações: cartao de atrações */
.atracao_destaque {
    height: 100%;
    padding: 2rem 10rem;
}

.atracao_destaque>figure {
    padding: 3rem;
}

.atracao_destaque-texto {
    height: 80vh;
    gap: 3rem;
    justify-content: center;
}

.texto_titulo {
    font-size: clamp(2vw, 3vw, 4vw);
}

.atracao_destaque-texto>a {
    width: 50%;
}

/*pagina contato */
.hero_section-contato {
    height: 100vh;
    padding: 5%;
    background-image: url(/assets/img-fundo/bg-ayrton.jpg);
}

.hero_section_contato-frase {
    width: 40%;
    height: auto;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    bottom: 5%;
    left: 2%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
}

.hero_section_contato-frase>h1 {
    color: white;
}

/* formulario */
.contato {
    height: 100%;
    padding: 3% 5rem;
    gap: 5rem;
    justify-content: space-between;
    background-color: var(--cor-contraste);
}

.formulario {
    gap: 1rem;
}

label {
    font-size: 1.3rem;
}

input,
textarea {
    border-radius: 20px;
    border: 2px solid var(--cor-detalhe);
    padding: 1rem;
}

.formulario>button {
    width: 30%;
}

.rede-contato {
    color: var(--cor-detalhe);
    font-size: 1.8rem;
}

iframe {
    border: none;
    padding: 0 3rem;
    max-width: 95%;
    width: 100%;
}