/*hover: Aplica hover só em dispositivos com mouse */
@media screen and (hover: hover) {
    .anima_zoom:hover {
        transform: scale(1.1);
    }

    .anima_diminuir:hover {
        transform: scale(0.9);
    }

    .linha_tempo-evento:hover {
        box-shadow: 0 6px 15px rgba(0, 46, 18, 0.7);
    }
}

/* celulares */
@media screen and (min-width: 350px) and (max-width: 750px) {

    /* estilo padrão */
    .sm_flexivel-coluna {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    .sm_reverter-flex {
        flex-direction: column-reverse;
        padding: 1rem 2rem;
    }

    .sm_itemflex-100 {
        flex-basis: 100%;
        padding: 0;
        margin: 0;
    }

    main, section,
    .cartao_index,
    .texto_sobre,
    .contato {
        padding: 2% 10%;
        box-sizing: border-box;
    }

    /* index */
    header {
        padding: 1rem 2rem;
    }

    .logo {
        max-width: 40%;
    }

    header nav {
        display: none;
    }

    header .menu {
        display: block;
        text-align: right;
    }

    .menu summary {
        list-style: none;
        width: fit-content;
    }

    .menu_icon {
        width: 35%;
        height: 35%;
    }

    /* menu dropdown */
    .menu[open]::details-content {
        width: 100%;
        height: 100vh;
        background: #f3f3f3;
        position: fixed;
        left: 0;
        top: auto;
        z-index: -1;
    }

    .menu_link-summary {
        margin-top: 10%;
    }

    .menu_link-summary a {
        color: black;
        font-size: clamp(1.75rem, 4vw, 2.5rem);
    }

    /* rodape */
    .logo_rodape {
        width: 50%;
    }

    .img_patrocinadores {
        max-width: 30%;
    }

    /*  links redes sociais  */
    footer section div>nav ul li {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        padding: 10% 0;
        font-size: 1.5rem;
    }

    footer section>nav {
        width: 100%;
        margin: 0;
        padding: 3% 0;
    }

    .link-rapido {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .link-rapido li,
    .link-rapido li a {
        padding: 0;
        margin-top: 2%;
        font-size: clamp(1.75rem, 4vw, 2.5rem);
    }

    footer section nav a address {
        align-self: self-start;
        padding: 0;
        margin-top: 10%;
        font-size: clamp(1.50rem, 2vw, 2rem);
    }

    /*pagina index:  cartao de atração */
    /*index: hero section */
    .hero_section_index-frase {
        width: 95%;
        height: 40%;
    }

    .hero_section_sobre-frase,
    .hero_section_atracao-frase,
    .hero_section_contato-frase {
        width: 95%;
        height: 30%;
    }

    .hero_section_index-frase>h1,
    .hero_section_sobre-frase>h1,
    .hero_section_atracao-frase>h1,
    .hero_section_contato-frase>h1,
    .hero_section_contato-frase>h1 {
        font-size: clamp(1.8rem, 1.8vw, 1.8rem);
        z-index: 1;
        text-align: center;
    }

    .hero_section-btn {
        justify-content: center;
    }

    .cartao_atracao-index {
        width: 100vw;
    }

    /*index: visite  */
    #visite {
        background-attachment: scroll;
    }

    /* sobre */
    .linha_tempo-img {
        width: 40%;
        height: 40%;
    }

    .galeria {
        padding: 0 0 5rem 0;
    }

    .galeria-img {
        width: 40%;
        height: 45%;
    }

    /* pagina: contato */
    .contato {
        gap: 1%;
    }

    .rede-contato {
        font-size: clamp(1.75rem, 4vw, 2.5rem);
    }
}

/* tablet / desktop */
@media screen and (min-width: 750px) and (max-width: 1120px) {

    /* hero section */
    .hero_section_index-frase>h1,
    .hero_section_sobre-frase>h1,
    .hero_section_atracao-frase>h1,
    .hero_section_contato-frase>h1,
    .hero_section_contato-frase>h1 {
        font-size: clamp(1.5rem, 2.6vw, 2rem);
    }

    /* pagina atrações */
    .atracao_destaque {
        padding: 1rem 2rem;
    }

    .atracao_destaque-texto {
        height: 100%;
    }

    .texto_titulo {
        font-size: clamp(1rem, 2vw, 1.25rem);
    }
}